<div>
  <h1 class="page-title">Get Product Price by Id</h1>
  <div>
    <form #productSearch="ngForm" (ngSubmit)="getProduct(id)" novalidate>
      <input type="text" id="title" class="form-control" placeholder="Type a product id "
             required
             name="title" [(ngModel)]="id"
             #title="ngModel">
      <br>
      <label>Results</label>
      <span>{{productResponse | json}}</span>
      <div *ngIf="title.errors && title.dirty"
           class="alert alert-danger">
        <div [hidden]="!title.errors.required">
          Id is required
        </div>
      </div>
    </form>
  </div>
</div>
